.row-aboutWho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.row-aboutWho h2, .row-aboutWho p {
    padding: 10px 0;
}

.row-aboutWho h2 {
    font-size: 2rem;
}

.logoThumb {
    display: none;
}

@media (min-width:992px) {
    .row-aboutWho {
        flex-direction: initial;
        padding: 60px 100px;
    }

    .row-aboutWho .column:first-child {
        margin-right: 60px;
    }

    .logoThumb {
        width: 100%;
        display: initial;
    }
}