.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  color: #ffffff;
}

.header-text-mission {
  width: 80%;
  text-align: center;
  margin: 15px 0;
}

@media (min-width: 992px) {

  .header-text button {
    font-size: 1rem;
  }

  .header-text-mission {
    font-size: 18px;
    width: 50%;
  }
}

