* {
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #a22c29;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.button {
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: transparent;
  color: #ffffff;
  transition: 1s;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 1s;
}